<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Done</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>これはヘッダーです</header>
    <div class="Done_body">
      ご回答ありがとうございました。<br>
      <%= email %>に登録メールを送信しました。
    </div>
      <footer>これはフッターです</footer>
  </body>
</html>